<form (ngSubmit)="addHero(newHero)">
  <input type="text" name="hero-name" [(ngModel)]="newHero.name" placeholder="name">
  <input type="text" name="hero-url" [(ngModel)]="newHero.imageUrl" placeholde="image url">
  <input type="number" name="hero-power" [(ngModel)]="newHero.power" placeholder="power">
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
<br>
<label for="power-filter"></label>
<input type="number" name="power-filter" [(ngModel)]="powerFilter">
<br>
<div *ngFor="let h of (heroes | heroPower:powerFilter)">
  <app-hero [hero]="h"></app-hero>
</div>